<ion-header>
  <ion-toolbar class="color-principal">
      <ion-buttons slot="start"><ion-back-button defaultHref="/login"></ion-back-button></ion-buttons>
      <ion-title id="tPrincipal">Registrar</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding color-principal">
  <ion-img src="assets/images/registroUsuario.svg"></ion-img>
  <form (submit)="register()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>
    <ion-row style="height: 6px;"></ion-row>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>
    <ion-row style="height: 6px;"></ion-row>
    <ion-button class="color-secundario" expand="full" expand="block" type="submit">Registrar</ion-button>
  </form>
</ion-content>
