<ion-header>
    <ion-toolbar class="color-principal">
        <ion-buttons slot="start"><ion-back-button defaultHref="/login"></ion-back-button></ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding color-principal">
    
        <ion-text>
            <h2 class="ion-text-center">Seleccione Operacion</h2>
            
        </ion-text>
        <ion-button class="ion-margin-top color-secundario" expand="block" (click)="consultarSaldo()">Consulta de Saldo</ion-button>
        <ion-button class="ion-margin-top color-secundario" expand="block">Transferencia</ion-button>
        <ion-button class="ion-margin-top color-secundario" expand="block">Historial de Transacciones</ion-button>
        <ion-button class="ion-margin-top color-secundario" expand="block" (click)="verRegistro()">Ver registros</ion-button>
        <ion-button class="ion-margin-top color-secundario" expand="block" (click)="tomarFoto()">Tomar foto</ion-button>
        <ion-button class="ion-margin-top color-secundario" expand="block" (click)="verCoordenadas()">Ver coordenadas</ion-button>
        <ion-text>
            <p class="ion-text-center"> </p>
        </ion-text>
    
</ion-content>
