<ion-header>
    <ion-toolbar class="color-principal">
        <ion-title id="tPrincipal">Bienvenido a Bills</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding color-principal">
    <ion-img src="assets/images/loginn.svg"></ion-img>

    <ion-item class="ion-margin-top" color="contrast">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-input label="Usuario" label-placement="floating" fill="solid" [(ngModel)]="loginUsuario"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" color="contrast">
        <ion-icon name="keypad-outline"></ion-icon>
        <ion-input label="Contraseña" label-placement="floating" fill="solid" [(ngModel)]="loginContrasena" type="password"></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top color-secundario" (click)="validarCredenciales()" expand="block">Ingresar</ion-button>
    <ion-text>
        <p class="ion-text-center" [routerLink]="['/recuperar']">Recuperar contrasena</p>
    </ion-text>
    <ion-text>
        <p class="ion-text-center" [routerLink]="['/registro']">No tienes cuenta? Registrate Aqui!</p>
    </ion-text>
</ion-content>